@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scroll-behavior: smooth;
  letter-spacing: 0.1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.custom-img {
  background-image: url("https://media.istockphoto.com/id/1253306890/photo/vacuum-pumps-and-jars-for-hijama-arms-on-a-pink-background.jpg?b=1&s=612x612&w=0&k=20&c=90WUJkrluyWSkiQZwC29HiTaxc8tVx9fnO2U3vEyuy4=");
}
